@{ViewBag.Title = "Email Account Confirmed";}
<br />
<h2>@ViewBag.Title!</h2>
<div>
    <p>
        @Html.ActionLink("Click here if you need to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>