@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-12 text-center">
        <h2>Open Source Cooking</h2>
    </div>
    <div class="col-12 text-center">
        <div style="color:red">This site is in Alpha stage and features are still being developed.</div>   
        <div>Contact email is <a href="mailto:Admin@OpenSourceCooking.com" target="_top">Admin@OpenSourceCooking.com</a></div>
        <div>Source code is on GitHub <a href="https://github.com/OpenSourceCooking/OpenSourceCooking" target="_blank">Here</a></div>
    </div>
    <div class="col-12 text-center">
        <img src="~/Content/Images/OpenSourceCooking4096x2160.png" class="img-fluid" style="max-width:60%;" />       
    </div>
    <div class="col-12 text-center">
        @Html.ActionLink("View Recipes", "Index", "Recipes", null, new { @class = "btn btn-large btn-success btn-bordered", @style = "font-size:32px;" })      
    </div>
</div>